.inputWrapper {
  display: flex;
  width: 100%;
  position: relative;

  input {
    margin-top: 15px;
    padding: 10px 40px 10px 8px;
    width: 100%;
  }

  .inputStatus {
    position: absolute;
    top: 23px;
    right: 10px;
  }

}